* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.top-heading {
  text-decoration: none;
}

.heading {
  padding: 20px 0px 0px 20px;
  background-image: url("img/mv.jpg");
  height: 400px;
  width: 100%;
  background-position: bottom;
  background-size: cover;
}

main {
  padding-top: 20px;
  padding-bottom: 50px;
}

.main-box {
  justify-content: center;
  margin: 0 auto;
  width: 840px;
  padding-bottom: 30px;
  text-align: left;
  border-bottom: 1px solid #6c6b6b;
}

.main-image {
  padding-top: 30px;
}
